* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #F4ECEC;
}

/* main {
    display: flex;
    flex-direction: column;
} */

.wrapper {
    margin: 0 auto;
    width: 1024px;
}

header {
    width: 100%;
    height: 50px;
    background-color:   #474747;
}

.containerName {
    width: 100%;
    height: 200px;
    background-color:#585656;
    position: relative;
}

.name {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    font-family: 'Sniglet', cursive;
    font-size: 32px;
    top: 20px;    
}

.speciality {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    font-family: 'Sniglet', cursive;
    font-size: 26px;
    top: 60px;
}

.containerMyPhoto{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.myPhoto {
    border-radius: 100%;
    box-shadow: 0px 0px 0px 5px rgb(59, 48, 48);
    position: absolute;
    top: 170px;
    z-index: 1;
}

.containerSummary {
    position: relative;
    margin: 0 auto;
    width: 80%;
    padding-bottom: 30px;
    margin-bottom: 30px;
    background-color: white;
    margin-top: 30px;
    box-shadow: 0px 0px 14px 5px rgba(0,0,0,0.33);
}

.containerContacts {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 200px;
    margin-top: 120px;
}

.title{
    font-size: 28px;
    font-weight: 600;
}

.summary {
    width: 650px;
    margin: 0 auto;
    margin-top: 50px;
    font-size: 18px;    
    text-align: justify;
    font-family: 'Sniglet', cursive;
}

.skills, .code, .education, .englishLevel {
    width: 650px;
    margin: 0 auto;
    margin-top: 50px;
    font-size: 18px;    
    text-align: justify;
    font-family: 'Sniglet', cursive;
}

.footer {
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Sniglet', cursive;
    font-family: 'Acme', sans-serif;
}

@media screen and (max-width: 1045px){
    .wrapper {
        width: 700px;
    }

    .summary, .skills, .code, .education, .englishLevel {
        width: 500px;
    }
}

@media screen and (max-width: 720px){
    .wrapper {
        width: 300px;
    }

    .summary, .skills, .code, .education, .englishLevel {
        width: 200px;
    }

    .myPhoto {
        width: 120px;
        height: 120px;
        top: 200px;
    }

    .contacts {
        margin-top:90px;
    }
}